body{ 
    font-family: Verdana,sans-serif;
    line-height: 1.6;
    background: #5cdb95;
}

.container{
    margin: 0 auto;
    width: 960px;
}

.lugar{
border: 1px solid #ccc;
bordon-color: #ccc #999 #999 #ccc;
margin-bottom: 20px;
padding: 10px;
background: white;
}

.lugar h2{
    border-bottom: 1px dashed; #05386b;
    margin: 0;

}
.lugar a{
    color: #05386b;
    font-weight: bold;
    /*font-style: italic;
    text-transform: uppercase;
    text-decoration: none; */
}

h1 a{
    color: #edf5e1;
    text-decoration: none;
    
    }

    h1 a: :hover {
        background: #edf5e1;
        color: #5cdb95;
    }

    /* comportamentos
    :hover --> ao passaro mouse
    : visited --> link que ja foi visitado
    :active--> link que esta clicado
    :focus --> link que esta com foco de teclado */

    .lugar img{
       border: 1px solid #0586b;
       margin: 10px 10px 0 0;
       padding: 2px;
       float: left;
       
    }
    .clear{
        clear: both;
    }
